* {
  margin: 10;
  padding: 10;
}
/*-----Estilos de la pantalla de inicio movil-----*/
.first-screen {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/fondo.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: #ffffff;
}
/*-----Estilos primera columna-----*/
.firstCol {
  border-right: 0.1em solid #fff;
  margin-top: 8em;
  padding-left: 8em;
  padding-right: 3em;
}
.txtcol {
  font-size: 1.2em;
}
/*-----Estilos segunda columna-----*/
.secondCol {
  padding-left: 4em;
}
#form-autenticacion {
  padding-top: 4em;
}

.form-control {
  margin-bottom: 1em;
  color: darkgreen;
}
.loginButtons {
  padding-top: ;
}
.btn-init {
  margin-bottom: 1em;
  width: 100%;
  background-color: darkgreen;
  border: none;
  color: #fff;
}
.modal-header {
  text-align: center;
}
#description {
  border: 1px solid darkgreen;
  border-radius: 2px;
}
/*-----Estilos delperfil de usuario movil-----*/
.logoVerdePerfil {
  padding-top: 2em;
  width: 6%;
}
.userProfileMovil {
  height: 700px;
}
.perfirMovil {
  color: #fff;
  background-color: darkgreen;
  vertical-align: center;
}
.imgProfile {
  width: 35%;
  margin-bottom: 1em;
}
.perfilMovilTitle {
  font-size: 1.2em;
  padding-bottom: 0.2em;
}
header {
  position: fixed;
  z-index: 5;
  background-color: #fff;
  width: 100%;
}
.header-row {
  background-color: #fff;
  width: 100%;
}
section {
  margin-top: 0em;
}
.news {
  margin-bottom: 5em;
}
.footer-row {
  background-color: #fff;
  /* position: fixed;
    bottom: 0;  */
  /* width: 100%; */
}
#logo-verde {
  width: 5em;
  text-align: center;
}
span {
  font-size: 3em;
  color: darkgreen;
}

.box-post {
  background-color: #120808;
  border: 1px solid #0f3428;
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding: 1em;
}
/* clase que se le agrega a la imagen en el newsfeed para separar las publicaciones*/

.btnProfile {
  border: none;
  color: white;
  background-color: darkgreen;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 0.3em;
}
.btnProfile input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#botonEnviar {
  color: white;
  background-color: darkgreen;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("img/fodo\ final\ final\ \).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Altura igual a la altura de la ventana */
  color: #ffffff;
}

textarea {
  width: 50%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f6efef;
  border-radius: 5px;
  resize: vertical;
  color: #000;
}


button#publicar {
  padding: 10px 20px;
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

article {
  margin-top: 20px;
}

article p {
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

article button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

article button[value]:last-child {
  background-color: #0084ff;
}
